* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
    margin: 0; 
}

h2 {
    color: white;
    text-align: center; /* Center title */
}

.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.topnav a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Subtle background change on hover */
}

.search-container {
    float: right;
    color: aqua;
}

form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%; /* Full height of the form */
    width: calc(100% - 18px); 
    padding: 6px 9px;
}

.thumbnail {
    height: 370px; 
    width: 100%; 
    border-radius: 19px;
    object-fit: cover; 
}

.row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.column {
    flex: 1 1 25%; 
    padding: 10px; 
    max-width: 300px; 
}
figure {
    margin: 0; 
    text-align: center; 
    color: white; 
}



@media (max-width: 768px) {
    .column {
        flex: 1 1 50%; 
    }
}

@media (max-width: 480px) {
    .column {
        flex: 1 1 100%; 
    }
    
    .topnav a {
        float: none; 
        text-align: left; 
    }

    form {
        width: 100%; 
    }
}